input:focus {
  outline: none;
}

.navigation-li {
  float: left;
  margin: 1em;
  user-select: none;
}

.navigation-li:hover {
  /* color: #090e11; */
  cursor: pointer;
  transition: all ease-in-out 100ms;
}

.navigation-li.active-li {
  color: red;
}

.black-outline {
  -webkit-text-stroke: 1.11px #090e11;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

.observer-item {
  transform: translateY(100%);
}

.active {
  transition: all 0.5s ease-out;
  transform: translateY(0%);
  opacity: 1;
}
