body {
  margin: 0;
  padding: 0;
}

.ProseMirror {
  outline: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  padding: 20px 0;
  font-weight: 700;
}

h2 {
  font-size: 25px;
  padding: 20px 0;
  font-weight: 700;
}

h3 {
  font-size: 23px;
  padding: 20px 0;
  font-weight: 700;
}

h4 {
  font-size: 21px;
  padding: 20px 0;
  font-weight: 700;
}

h5 {
  font-size: 19px;
  padding: 20px 0;
  font-weight: 700;
}

h6 {
  font-size: 17px;
  padding: 20px 0;
  font-weight: 700;
}

hr {
  margin: 15px 0;
  border: 1px solid #eaeaea;
}

code {
  background: rgb(151, 145, 145);
}

ul {
  list-style: disc;
  padding-left: 20px;
}

ul li {
  padding-bottom: 10px;
}

ol {
  padding-left: 1.8rem;
  list-style: decimal;
  list-style-position: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 4px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
  color: rgb(128, 125, 125);
}
